{% extends 'base.html' %}
{%block content%}
<div class=" container CV-list pt-4">
    <h1 class="mb-4"> List Form CV</h1>
    {% for item in '123' %}
    <div class="media mb-3">
        <a href=""><img src="https://placeimg.com/640/480/any" class="mr-3" alt="" width="120"></a>
        <div class="media-body">
            <h5 class="mt-0"><a href="">Form CV </a></h5>
            <ul>
                <li>
                    <p>description: {% lorem 1 random %}</p>
                </li>
            </ul>
        </div>
    </div>
    {%endfor%}
</div>
{%endblock%}